#premiumForm {
    label {
        display: block;
        margin-bottom: 1rem;

        p {
            font-size: 20px;
            font-weight: 500;
        }

        input, textarea {
            display: block;
            width: 100%;
            border: 2px solid $dark_grey;
            padding: 5px;
            outline: 1px $yellow solid;
        }
    }

    .qualify {
        label {
            cursor: pointer;
            width: fit-content;
        }
    }

    h2 {
        margin: 5% 0;
    }

    button {
        border: 2px solid $blue;
        background: none;
        padding: 5px 15px;
        transition: 0.3s ease;

        &:hover {
            background: $blue;
            color: white;
        }
    }

    fieldset {
        margin-bottom: 5%;
    }

    #universalCreditAmount,
    #childTaxCreditAmount,
    .main-form-wrap {
        display: none;
    }

    .checkbox-wrap {
        display: block;
        position: relative;
        padding-left: 5%;
        margin-bottom: 1rem;
        cursor: pointer;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: $grey;

            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 6.5px;
                top: 2px;
                width: 7px;
                height: 12px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        &:hover input~.checkmark {
            background-color: $grey;
        }

        /* When the checkbox is checked, add a blue background */
        input:checked~.checkmark {
            background-color: $blue;
        }

        /* Show the checkmark when checked */
        input:checked~.checkmark:after {
            display: block;
        }
    }
}