body {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10%;
}

.menu {
    margin: 5% auto;
}

#premiumForm {
    label {
        display: block;
    }

    .qualify {
        label {
            cursor: pointer;
            width: fit-content;
        }
    }

    h2 {
        margin: 5% 0;
    }

    button {
        border: 2px solid blue;
        background: none;
        padding: 5px 15px;
    }

    fieldset {
        margin-bottom: 5%;
    }

    #universalCreditAmount, #childTaxCreditAmount {
        display: none;
    }
}